<div class="card-container">
  <mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="form-custom" [formGroup] = "formLogin">
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
        <!-- <mat-error *ngIf="formLogin.get('username').invalid && formLogin.get('username').touched">
          Username is required.
        </mat-error> -->
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" required>
        <!-- <mat-error *ngIf="formLogin.get('email').invalid && formLogin.get('email').touched">
          Password is required.
        </mat-error> -->
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <!-- <mat-error *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched">
          Password is required.
        </mat-error> -->
      </mat-form-field>
      <div class="flex">
        <button mat-flat-button color="primary" (click)="login()">Login</button>
        <!-- <button mat-flat-button color="primary" (click)="">Registrase</button> -->
      </div>
    </form>
  </mat-card-content>
</mat-card>

</div>
<!-- 
<form action="">
    <input [(ngModel)]="loginData.name" type="text" placeholder="username">

  
    <input [(ngModel)]="loginData.password" type="password" placeholder="password">
  

  <button (click)="login()" class="button bg-btn" >resgistrar </button>
</form> -->

<!-- @for(item of usersData ; track item.id){
<div class="let item of usersData">
 <div class="" *ngFor="let item of usersData"> -->
 <!-- <p>soome to say </p>
  <h1>{{item.id}}</h1>
</div> -->
<!-- } -->
<!-- 
<div *ngIf="usersData.length > 0; else noData">
  <ul>
    <li *ngFor="let item of usersData">
      {{ item.email }} - {{ item.firstName}}
    </li>
  </ul>
</div>
<ng-template #noData>
  <p>No hay datos disponibles.</p>
</ng-template> -->


